#OS junk files
[Tt]humbs.db
*.DS_Store
*.[Oo]bj
*.user
*.aps
*.pch
*.psess
*.vsp
*.vspx
*.opensdf
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*~
*.lst
*.o
*.a
*.moc
*.eep
*.lss
*.map
*.sym
*.pdb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.sbr
*.sdf
*.pdb
*.ilk
*.log
*.tlog
*.1
*.i
*.sbr
*.sdf
*.press
*.lastbuildstate
*.exe
*.exp
*.idb
*.unsuccessfulbuild
Makefile
Makefile.Debug
Makefile.Release
ipch/
obj/

!external/

[Dd]ebug*/
[Dd]ebug32*/
[Dd]ebug64*/
[Rr]elease*/
[Rr]elease64*/
[Rr]elease32*/

Ankh.NoLoad


SoftimageOpenVDB.dll
libSoftimageOpenVDB.so
libSoftimageOpenVDB.so.*

#Subversion files
.svn

# Office Temp Files
~$*


